$sub-color: grey;
$main-color: black;

@mixin shrinkLabel { /*this is like reusesable function */
	top: -14px; /*this moves the label to the top of the input section*/
	font-size: 12px;
	color: $main-color;
}

.group {
	position: relative;
	margin: 45px 0;

	.form-input {/*this css is the array of .group{} only applied to the children of an element that has .group as the classname*/
		background: none;
		background-color: white;
		color: $sub-color;
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 100%;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid $sub-color;
		margin: 25px 0;


		&:focus { /*this is same as .form-input:focus*/
			outline: none;
		}

		&:focus ~ .form-input-label {
			@include shrinkLabel();
		}
		&:invalid{
			box-shadow: none;
		}
	}

	input[type="password"] {
		letter-spacing: 0.3em;
	}

	.form-input-label {
		color: $sub-color;
		font-size: 16px;
		font-weight: normal;
		position: absolute;/*this allows the label to be moved freely insided the parent .group*/
		pointer-events: none;
		left: 5px;
		top: 10px;
		transition: 300ms ease all; /*this makes smooth transition when the label moved upward*/

		&.shrink {/*this is same as .form-input-label.shrink. Therefore only targets the element that has both of the class names*/
			@include shrinkLabel();
		}
	}
}
