.App{
    width: 300px;
    border: black 1px solid;
    align-items: center ;
    text-align: center;
    flex-direction: column;
    background-color: rgb(199, 225, 231);
}
.title{
    margin-top: 0px;
    background-color: #85dcbc; 
}